In [38]:
# Import Dependencies
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

# Import PostgreSQL password
from config import db_password

In [39]:
# Create engine instance
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/carbon_db"
engine = create_engine(db_string)

In [40]:
# Connect to PostgreSQL server
dbConnection = engine.connect()

In [41]:
# Read data from historical_emissions table into a DataFrame
emissions_df = pd.read_sql("select * from \"historical_emissions\"", dbConnection)

# Display Dataframe
emissions_df.head(10)

,iso_code,country,year,co2,co2_per_capita,trade_co2,cement_co2,cement_co2_per_capita,coal_co2,coal_co2_per_capita,...,ghg_excluding_lucf_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,primary_energy_consumption,energy_per_capita,energy_per_gdp
0,AFG,Afghanistan,1949,0.015,0.002,NaN,NaN,NaN,0.015,0.002,...,NaN,NaN,NaN,NaN,NaN,7624058.0,NaN,NaN,NaN,NaN
1,AFG,Afghanistan,1950,0.084,0.011,NaN,NaN,NaN,0.021,0.003,...,NaN,NaN,NaN,NaN,NaN,7752117.0,9.421400e+09,NaN,NaN,NaN
2,AFG,Afghanistan,1951,0.092,0.012,NaN,NaN,NaN,0.026,0.003,...,NaN,NaN,NaN,NaN,NaN,7840151.0,9.692280e+09,NaN,NaN,NaN
3,AFG,Afghanistan,1952,0.092,0.012,NaN,NaN,NaN,0.032,0.004,...,NaN,NaN,NaN,NaN,NaN,7935996.0,1.001733e+10,NaN,NaN,NaN
4,AFG,Afghanistan,1953,0.106,0.013,NaN,NaN,NaN,0.038,0.005,...,NaN,NaN,NaN,NaN,NaN,8039684.0,1.063052e+10,NaN,NaN,NaN
5,AFG,Afghanistan,1954,0.106,0.013,NaN,NaN,NaN,0.043,0.005,...,NaN,NaN,NaN,NaN,NaN,8151316.0,1.086636e+10,NaN,NaN,NaN
6,AFG,Afghanistan,1955,0.154,0.019,NaN,NaN,NaN,0.062,0.008,...,NaN,NaN,NaN,NaN,NaN,8270992.0,1.107819e+10,NaN,NaN,NaN
7,AFG,Afghanistan,1956,0.183,0.022,NaN,NaN,NaN,0.062,0.007,...,NaN,NaN,NaN,NaN,NaN,8398873.0,1.158124e+10,NaN,NaN,NaN
8,AFG,Afghanistan,1957,0.293,0.034,NaN,NaN,NaN,0.077,0.009,...,NaN,NaN,NaN,NaN,NaN,8535157.0,1.157897e+10,NaN,NaN,NaN
9,AFG,Afghanistan,1958,0.330,0.038,NaN,NaN,NaN,0.092,0.011,...,NaN,NaN,NaN,NaN,NaN,8680097.0,1.223884e+10,NaN,NaN,NaN

In [43]:
for column in emissions_df.columns:
    if emissions_df[column].isnull().sum() > 3100:
        emissions_df = emissions_df.drop(column, axis=1)

In [46]:
for column in emissions_df.columns:
    print(f"Column {column} has {emissions_df[column].isnull().sum()} null values")

Column country has 0 null values
Column year has 0 null values
Column co2 has 1319 null values
Column co2_per_capita has 1957 null values
Column co2_growth_prct has 293 null values
Column co2_growth_abs has 1695 null values
Column cumulative_co2 has 1319 null values
Column share_global_co2 has 1319 null values
Column share_global_cumulative_co2 has 1319 null values
Column population has 3097 null values

In [5]:
# Close the database connection
dbConnection.close();